<div class = 'col-sm-8 blog-main'>    

    <h1>Topics</h1>

    <div class = 'row'>
        <% @topics.each do |topic| %>
            <div class = 'col-md-6'>
                <div class = 'topic-cards'>
                    <div class = 'card bg-dark'>
                        <%= render topic %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    


</div>