<div class="album py-5">
  <div class="container">
    <%= link_to 'Create Portfolio Item', new_portfolio_path, class: 'btn btn-lg btn-secondary btn-outline-warning' if logged_in?(:site_admin) %>
    <div class="row <%= "sorting" if logged_in?(:site_admin) %>">
      <%= render partial: 'portfolio_item', collection: @portfolio_items%>
    </div>
  </div>
</div>