<div class="col-md-4">
          <div class="p-4 mb-3 bg-dark rounded">
            <h4 class="font-italic">About Me</h4>
            <p class="mb-0">Passionate about all things technology and sports. I've worked in QA for just over 4
            years now and am looking to take that knowledge of helping to create quality software
            and transitioning into a web developer role.</p>
          </div>


          <div class="p-4">
            <h4 class="font-italic">Socials</h4>
            <ol class="list-unstyled social-links">
              <li><a href='https://github.com/austinmccombs'><%= fa_icon "github" %></a></li>
              <li><a href='https://www.linkedin.com/in/austin-mccombs-99b647173/'><%= fa_icon "linkedin" %></a></li>
              <li><a href='https://www.twitter.com/austin_mccombs9'><%= fa_icon "twitter" %></a></li>
              <li><a href='https://www.instagram.com/austin_mccombs/'><%= fa_icon "instagram" %></a></li>
            </ol>
          </div>
</div>