

  <nav class="navbar navbar-expand-md navbar-toggleable-md bg-dark  nav-masthead">
  
  <div class="container-fluid">
    
    <div class="navbar-header">
      <a class="navbar-brand nav-brand" href="#">Austin McCombs</a>
    </div>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="" role="button" ><i class="fa fa-bars" aria-hidden="true" style="color:#e6e6ff"></i></span>
    </button>
    <div class = 'collapse navbar-collapse justify-content-center' id = 'collapsibleNavbar'>
    <ul class = 'nav navbar-nav navbar-left'>
       <%= nav_helper 'text-white nav-link nav navbar-nav navbar-left', 'li' %>
    </ul>
    <ul class = 'nav navbar-nav navbar-right'>
        <%= login_helper 'text-white nav-link'%>
     </ul>
     </div>
  </div>
</nav>