


  <nav class="navbar navbar-inverse bg-dark nav-masthead">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand text-white" href="#">Austin McCombs</a>
    </div>
        <%= nav_helper 'text-white nav-link nav navbar-nav navbar-right', 'span' %>
        <%= login_helper 'text-white nav-link'%>
  </div>
</nav>