 <section class="py-5 text-center container masthead">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">My Portfolio</h1>
            <p class="lead">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
            <p>
              <%= link_to 'Find Out About Me', about_me_path, class: 'btn btn-outline-warning' %>
              <%= link_to 'Blogs', blogs_path, class: 'btn btn-warning' %>
            </p>
          </div>
        </div>
</section>