
<h1>About Me </h1>

<hr>

<div class = 'row'>
    <div class = 'col-md-6'>
        <%= image_tag "profile_image.JPG", width: 300, alt: 'profile image' %>
    </div>

    <div class = 'col-md-6'>
        <p>I have spent just under half a decade ensuring the quality of software put in front of the users' faces.
        Ive recently decided to take that knowledge of what makes a good software product and shift my focus to helping
        build out those qualities.</p>

        <p>The ideal situation for me is coming into a high energy group that is passionate about what they do but also knows
        how to have a good time outside of what they do. An environment full of empathy where I'm able to learn and be mentored from 
        engineers who are as willing and excited to teach me as I am to learn from them. </p>
    </div>
</div>

