

  <main class="px-3">
    <div class = 'card bg-transparent text-center space-top text-yellow'>
      <h1><%= fa_icon 'code' %></h1>
      <p class="lead skill">
        <span class = 'element'></span>
      </p>
      <p class="lead skill">
        <%= link_to "About Me", about_me_path, class: 'btn btn-outline-warning space-top bg-dark' %>
      </p>
    </div>
    
  </main>

