<div class = 'inner cover'>
    <div class = 'row news-header'>
        <div class = 'col-md-12'>
            <h1 class = 'cover-heading'>Sports News</h1>
        </div>
    </div>
    <div class = 'row news-header'>
        <div class = 'col-md-6'>
            <%= link_to ('Sports'), '', class: 'btn btn-lg btn-warning btn-outline-secondary tech-btn' %>
        </div>
        <div class = 'col-md-6'>
            <%= link_to 'Tech', tech_news_path , class: 'btn btn-lg btn-secondary btn-outline-warning text-white tech-btn' %>
        </div>
    </div>
    <div class = 'row'>
        <% @sports.each do |sport| %>
            <div class = 'col-md-6'>
                <div class = 'tech-news'>
                    <div class = 'card'>
                        <%= twitter_parser sport %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>