<div class = 'inner cover'>
    <div class = 'row news-header'>
        <div class = 'col-md-12'>
            <h1 class = 'cover-heading'>Tech News</h1>
        </div>
    </div>
    <div class = 'row news-header'>
        <div class = 'col-md-6 icons'>
            <%= link_to fa_icon('bicycle'), sports_news_path, class: 'yellow-text' %>
        </div>
        <div class = 'col-md-6 icons'>
            <%= link_to fa_icon('code'), '', class: 'yellow-text' %>
        </div>
    </div>
    <div class = 'row'>
        <% @tweets.each do |tweet| %>
            <div class = 'col-md-6'>
                <div class = 'tech-news'>
                    <div class = 'card'>
                        <%= twitter_parser tweet %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>