@import "bootstrap";
@import "gritter";
@import 'font-awesome';

/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  background-color: black;
  font-family: 'Open Sans', sans-serif;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: #f5c71a;
}
a:hover{
  color: #fff;
}

iframe{
  margin-top: 25px;
}

jumbotron{
  margin-bottom: 50px;
}

.app-body{
  margin-top: 40px;
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */



.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  

  @media (max-width: 767px){
    .navbar-collapse ul{
      width: 60px;
    }

    .navbar-collapse li a{
      display: block;
      
    }
  }
  @media (max-width: 991px){
    .social-links{
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: left;
      color: #f5c71a;
    }
    
    .social-links li{
      font-size: 1rem;
      margin-right: 25px;
      display: inline;
    }
  }

    
  
  
  


  /*
  * Custom Styles
  */
  .icon-header{
    margin-bottom: 40px;
  }

  .card-body{
    background-color: #727272;
    color: #f5c71a;
    text-align: left;
  }

  .card-body a{
    color: #f5c71a;
  }

  .auth-links a{
    color: black;
  }

  .register-text{
    text-align: right;
  }

  .login > .card {
    width: 22rem;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
  }

  .app-nav span{
    margin-right: 15px;
    margin-left: 15px;
  }

  .navbar{
    margin-bottom: 25px;
  }

  .nav-brand{
    color: #f5c71a;
  }

  .nav-masthead .nav-link {
    padding: 10px 10px;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;

  }
  
  .nav-masthead .nav-link:hover,
  .nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
  }

  .navbar-nav {
    flex-direction: row;
  }
  
  
  .nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
  }
  .navbar-collapse{
    margin-left: 70px;
  }

  .title-name{
    margin: 25px;
  }

  .app-nav span{
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
  }

  .truncated{
    overflow: hidden;
    display: block;
    height: 220px;
    white-space: pre-wrap;
    text-overflow: ellipsis;
  }

  header h3{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  #background{
    position: fixed;
    top: 50%; 
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
  }

  .tech-news{
    color: white;
    margin: 20px;

  }

  .tech-btn{
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .tech-news a{
    color: #f5c71a;
  }

  .tech-news > .card{
    background-color: grey;
    padding: 30px;
    height: 250px;
    
  }

  .tech-news > .card:hover {
    outline-color: #f5c71a;
  }

  .username {
    color: wheat;
    text-decoration: underline;
    font-size: 20px;
  }

  .news-header{
    margin: 40px 10px 40px 20px;
    text-align: center;
  }

  .news-header h1{
    color: #f5c71a;
    padding-left: 15px;
    padding-right: 15px;
  }

  .app-card-container {
    color: #f5c71a;
    margin-top: 50px;
    margin-bottom: 50px;

  }

  .card-content{
    margin-left: 85px;
  }

  .app-card-container > .card{
    background-color: #727272;
    padding: 40px;
  }

  .app-card-container a{
    color: #727272;
  }
  .app-card-container button:hover{
    background-color: #f5c71a;
    color: white;
  }

  .profile-image{
    border: 1px solid #f5c71a;
    vertical-align:  middle;
  }

  .card-block{
    margin-top: 5px;
    margin-bottom: 5px;
    color: #727272;
    padding: 5px;
    
  }

  .text-center{
    text-align: center;
  }

  .space-top{
    margin-top: 40px;
  }
  
  .text-yellow{
    color: #f5c71a
  }

  .text-wjote{
    color: white;
  }

  .skill{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .job-title{
    text-decoration: bold;
  }

  .collapse p{
    text-align: center;
  }

  .social-links{
    margin-left: 50px;
    top: 50%;
    margin-bottom: 25px;
    text-align: left;
    color: #f5c71a;
  }
  
  .social-links li{
    font-size: 3rem;
    margin-top: 50px;
    
  }

  .latest-stuff{
    margin-top: 75px;
  }




  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    
  }

  footer a{
    color: #f5c71a;
  }
  
  footer p {
    margin-bottom: .25rem;
    color: #727272;
    text-align: center;
  }
  

