@import "bootstrap";

.nav-masthead .nav-link {
    padding: .05rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
  }
  
  .nav-masthead .nav-link:hover,
  .nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
  }

  .navbar-nav {
    flex-direction: row;
  }
  
  
  .nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
  }

  .title-name{
    margin: 25px;
  }

  .app-nav span{
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
  }

  header h3{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
