@import "bootstrap";
@import "jquery-ui";
@import "gritter";
@import 'font-awesome';


body {
    min-height: 75rem;
    font-family: 'Open Sans', sans-serif; 
    background-color: #727272;
    
  }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
  font-family: 'Ubuntu', sans-serif;
}
  
  .navbar {
    margin-bottom: 0;
  }
  
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
    background-color: #727272;
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  .album {
    min-height: 50rem; /* Can be removed; just added for demo purposes */
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #727272;
  }
  
  .card {
    float: left;
    width: 100%;
    padding: .75rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    border: 0;
    color: white;
    background-color: #727272;
  }

  .card a{
    color: #f5c71a;
  }
  
  .card > img {
    margin-bottom: .75rem;
  }
  
  .card-text {
    font-size: 85%;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    
  }

  footer a{
    color: #f5c71a;
  }
  
  footer p {
    margin-bottom: .25rem;
    color: #727272;
    text-align: center;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  /* custom styles */

  .portfolio-container {
      padding-top: 30px;
  }

  .masthead{
    color: #f5c71a;
  }
 
  .nav-brand{
    color: #f5c71a;
  }
  .nav-brand:hover{
      color: #fff;
  }